# -----------------------------------------------------------
# Project-wide .env file
# -----------------------------------------------------------

# Application Settings
APP_NAME="Provder EHR"
APP_VERSION="0.1.0"
APP_ENV=development

# Application Logging
LOG_LEVEL=INFO

# Payer CRD Info
PAYER_CRD_URL=http://localhost:8080